database.dtd

<!ELEMENT dataset (
    account*,
    schema_version*)>

<!ELEMENT account EMPTY>
<!ATTLIST account
    id CDATA #IMPLIED
    nick CDATA #IMPLIED
    email CDATA #IMPLIED
    phone CDATA #IMPLIED
    passwd CDATA #IMPLIED
    created_at CDATA #IMPLIED
    updated_at CDATA #IMPLIED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    installed_rank CDATA #REQUIRED
    version CDATA #IMPLIED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #IMPLIED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

